:root {
    --color-green: hsl(75, 94%, 57%);
    --color-white: hsl(0, 0%, 100%);
    --color-grey-700: hsl(0, 0%, 20%);
    --color-grey-800: hsl(0, 0%, 12%);
    --color-grey-900: hsl(0, 0%, 8%);
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-VariableFont_sInt,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-grey-900);
}

.card {
    width: 19rem;
    padding: 2.5rem;
    margin: 1.5rem;
    text-align: center;
    background: var(--color-grey-800);
    border-radius: 1rem;
}

.card__image {
    display: block;
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    margin: 0 auto 1.5rem;
}

.card__name {
    font-size: 1.5rem;
    color: var(--color-white);
    margin: 0 0 0.25rem;
    font-weight: 500;
    line-height: 1.5;
}

.card__location {
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.5;
    color: var(--color-green);
    margin: 0 0 1.5rem;
}

.card__bio {
    font-size: 0.875rem;
    line-height: 1.5;
    color: var(--color-white);
    margin: 0 0 1.5rem;
}

.card__link {
    display: block;
    padding: 0.75rem 1.5rem;
    background: var(--color-grey-700);
    color: var(--color-white);
    text-decoration: none;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.5;
    margin-block-end: 1rem;
}

.card__link:last-child {
    margin-block-end: 0;
}

.card__link:hover {
    background: var(--color-green);
    color: var(--color-grey-700);
    transition: background 0.3s ease;
}

@media (max-width: 375px) {
    .card {
        padding: 1.5rem;
        width: 17.375rem;
    }
}